<div
  class="categoria container-wide container-xs m-bottom m-bottom-quarter-xs m-none-xs fluid">
<div class="span12 "> 
  <div class="m-bottom-half m-top-half">
    <h1 class="active breadcrumb-crumb">Productos Destacados </h1>
  </div>    </div>
</div>


<div class="card-group container-wide span12 grid-row ">
  <% for(let i = 0; i < productoConDescuento.length; i++) { %>

    <div class="card card1 cartinha ">
      
    <a href="/productDetail<%=productoConDescuento[i].categoria.slice(0,-1)%>/?productId=<%=productoConDescuento[i].id%>"
      ><img
      src="/images/<%= productoConDescuento[i].categoria.toLowerCase()%>/<%=productoConDescuento[i].imagen%>"
        class="card-img-top"
        alt="Habano X."
        style="border: 5px solid #343a40"
    /></a>
    <% if (productoConDescuento[i].descuento.value === "10%") { %>
                  <img class="descuento" src="/img/icons/10.png" alt="Descuento 30%">  
                <% }else if(productoConDescuento[i].descuento.value == "20%" ){ %>
                  <img class="descuento" src="/img/icons/10.png" alt="Descuento 30%">
                <% } %>

    <div class="card-body">
      <a href="/productDetail<%=productoConDescuento[i].categoria.slice(0,-1)%>/?productId=<%=productoConDescuento[i].id%>">
        <h3 class="card-title"><%= productoConDescuento[i].categoria%></h3>
        <h4 class="card-title"><%= productoConDescuento[i].marca%></h4>
        <h5 class="card-title"><%= productoConDescuento[i].nombre.value%></h5></a>
      <h6 class="card-text">$<%=productoConDescuento[i].precio.value%></h6>
      
    </div>

  </div> 

 <% } %>


  

 
</div>

