<div
  class="categoria container-wide container-xs m-bottom m-bottom-quarter-xs m-none-xs fluid">
<div class="span8 left"> 
  <div class="m-bottom-half m-top-half">
    <h1 class="active breadcrumb-crumb">Cigarros</h1>
  </div>    </div>
    <div class="hidden-phone sort-by-container text-right">
        <label for="sort" class="d-inline">Ordenar por:</label>
<select id="sort" class="full-width-xs">
                                <option value="price-ascending">Precio: Menor a Mayor</option>
                                        <option value="price-descending">Precio: Mayor a Menor</option>
                                        <option value="alpha-ascending">A - Z</option>
                                        <option value="alpha-descending">Z - A</option>
                                        <option value="created-descending">Más Nuevo al más Viejo</option>
                                        <option value="created-ascending">Más Viejo al más Nuevo</option>
                                        <option value="best-selling" selected="">Más Vendidos</option>
                                </select>
    </div>
</div>
<div class="card-group container-wide span12 grid-row">
  <% for(let i = 0; i < productoCigarros.length; i++) { %>

  <div class="card card1 cartinha ">
      <a href="/productDetailCigarro/?productId=<%=productoCigarros[i].id%>"><img src="/images/cigarros/<%=productoCigarros[i].imagen%>" class="card-img-top " style="border: 5px solid #343a40" alt="Cigarro X."></a>
      <div class="card-body">
        <a href="/productDetailCigarro/?productId=<%=productoCigarros[i].id%>"><h5 class="card-title"><%=productoCigarros[i].nombre.value%></h5></a>
        <p class="card-text">$<%=productoCigarros[i].precio.value%></p>
      </div>
    
    </div>
    <% } %>
  </div>