<div
  class="categoria container-wide container-xs m-bottom m-bottom-quarter-xs m-none-xs fluid">
<div class="span8 left"> 
  <div class="m-bottom-half m-top-half">
    <h1 class="active breadcrumb-crumb">Cigarros</h1>
  </div>    </div>
   
</div>
<div class="card-group container-wide span12 grid-row">
  <% for(let i = 0; i < productoCigarros.length; i++) { %>

  <div class="card card1 cartinha ">
      <a href="/productDetailCigarro/?productId=<%=productoCigarros[i].id%>"><img src="/images/cigarros/<%=productoCigarros[i].imagen%>" class="card-img-top " style="border: 5px solid #343a40" alt="Cigarro X."></a>
      <div class="card-body">
        <a href="/productDetailCigarro/?productId=<%=productoCigarros[i].id%>"><h5 class="card-title"><%=productoCigarros[i].nombre.value%></h5></a>
        <p class="card-text">$<%=productoCigarros[i].precio.value%></p>
      </div>
    
    </div>
    <% } %>
  </div>